<div class ="list-page">
  <div class="list-title">
    <h1>These are the current list of customers and their details:</h1>
  </div>
  <div class="list">
    <% @orders.each do |order| %>
      <div class="list-info">
        <h5>Name:</h5>
          <p><%= order.name %></p>
        <!--<h5>Option:</h5>
          <p><%= order.option %></p>-->
        <h5>Number of Boxes:</h5>
          <p><%= order.number_of_boxes %></p>
        <h5>Address:</h5>
          <p><%= order.address %></p>
        <h5>Telephone number:</h5>
          <p><%= order.telephone_number %></p>
        <h5>Email:</h5>
          <p><%= order.email %></p>
        <h5>Dietary requirements:</h5>
          <p><%= order.dietary_requirements %></p>
            <div class="delete">
              <%= link_to "Remove booking", orders_path(@orders), class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
  </div>
  <div class="home-button">
    <h3><%=link_to "Back to the... home page", root_path, class: "btn btn-outline-primary btn-lg" %></h3>
  </div>
</div>
