<div class="confirmation" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="confirmation-title">
    <h1>Thank you for subscribing</h1>
      <p>Your subscription to our updates list has been confirmed.</p>
      <p>We will email you soon with all our latest updates and information regarding upcoming events (and we would never use or share your email address for any other purposes).</p>
      <p>If you ever wish to unsubscribe from our updates list, please follow the link in the confirmation email you have just been sent.</p>
  </div>
      <!--<div class="confirmation-information">
        <h2>Next step</h2>
          <p>We will email you soon with all our latest updates and information regarding upcoming events.</p>
      </div>-->
    <div class="confirmaion-button">
      <h3><%=link_to "BACK TO THE HOME PAGE", root_path, class: "btn btn-link" %></h3>
    </div>
</div>

<!--<div class="booking-form" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="booking-title">
    <h1>ORDER YOUR TICKETS HERE</h1>
  </div>
  <div class="swish-info">
      <p>Once you have requested the boxes below, you will get a text back within 24 hours so you can Swish payment and add any further information if needed</p>
  </div>
    <div class="bookings">
      <%= simple_form_for(@order) do |f| %>
      <%= f.input :name %>
      <%= f.input :option %>
      <%= f.input :number_of_boxes %>
      <%= f.input :address %>
      <%= f.input :telephone_number %>
      <%= f.input :email %>
      <%= f.input :dietary_requirements, as: :text %>
      <%= f.submit "ORDER TICKETS", class: "btn btn-link" %>
      <% end %>
    </div>
    <div class="back-button">
      <%=link_to "BACK", root_path, class: "btn btn-link" %>
    </div>
</div>-->
